page-home {
 

}

.toolbar-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 28px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}


.toolbar-background {
    background-color: #6d7158;
  }
